* {}

.main {
    background-color: black;
    width: 800px;
    height: 400px;
    margin: auto;
}

.box {
    width: 200px;
    height: 200px;
    float: left;
    margin: 100px;
    transition: 1s;
}

.box:hover {
    transform: scale(1.3);
}