

.box1{
    width: 200px;
    height: 200px;
    float: left;
    margin: 100px;
    transition: 1s;
}
.box2{
    float: left;
    width: 200px;
    height: 200px;
    margin: 100px;
    transition: 1s;
}
.box1:hover{

transform: scale(1.3) ;
}
.box2:hover{
  
transform: scale(1.3) ;

}