body{
    text-align: left;
}



    button{
      border-radius: 25px;
      background-color: springgreen;
      font-size: medium;

    }
    a{
        color: purple;
      text-decoration: none;
    }
