@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');

h1,h2,h3,h4,h5,h6 {font-family: 'Island Moments', cursive;}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: gray;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: darkmagenta;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: larger;
    font-family: 'Indie Flower', cursive;
    text-align: center;
  }
  .main{
    
    width: 1600px;
    height: 500px;
    margin: auto;
}
.box{
    margin: 75px;
    float: left;
    width: 250px;
    height: 250px;
    transition: 1s;
}   
.box:hover{
    transform: scale(1.3);
}

img{
    width: 250px;
    height: 250px; 
    border: 3px solid black;
}
button{
    background-color:rgb(5, 226, 255);
    border-width: 0px;
    color: #fbff00;
}
a:link{
    color: black;
}
a:visited{
    color: crimson;
}
a:hover{
    color: red;
}
a:active{
    color:red;
}
p{
    font-family: 'Indie Flower', cursive;
}